* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    max-width: 600px;
    border: 2px solid black;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#container h1 {
    font-size: 2.5rem;
}
#container p {
    font-size: 1.1rem;
}